/* @font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */
