@mixin font($fs, $lh, $fw: 400) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

@mixin flexbox($jc: flex-start, $ai: stretch) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin for-size($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1280px;

  @if $range == mobile-only {
    @media (max-width: #{$mobile - 1}) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

// usage
// .my-box {
//   padding: 10px;

//   @include for-size(desktop) {
//     padding: 20px;
//   }
// }
