.footer-bottom {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: $grey;
}
