.gallery .title-label {
  margin-bottom: 44px;
}

.gallery__list {
  /* margin: -15px; */

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__item {
  margin-bottom: 30px;

  @include for-size(tablet) {
    width: calc((100% - 30px * 1) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
