.price {
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price__item-line {
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.price__list {
  width: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price__list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__item {
  display: flex;
  justify-content: space-between;
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}
