.team {
  background: #f7f7f7;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  /* margin: -15px; */
}

.team__item {
  width: 100%;
  /* margin: 15px; */

  margin-bottom: 30px;

  @include for-size(desktop) {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.team__member-name {
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  color: $dark-color;
}

.team__member-position {
  font-size: 14px;
  line-height: 1.136;
  text-align: center;
  color: $accent-color;
}
